# .gitignore file for: pabloagn
# Ignore .obsidian folder on main folder
.obsidian/

# Ignore desktop.ini
desktop.ini

# Ignore legacy
README.legacy.md

# Ignore XFC raw files
*.xfc

*.psb
*.psd